*, *:after, *:before {
    box-sizing: border-box;
  }
  
  :root {
    --c-action-primary: #2e44ff;
    --c-action-primary-accent: #e9e5ff;
    --c-action-secondary: #e5e5e5;
    --c-text-primary: #0d0f21;
    --c-text-secondary: #6a6b76;
    --c-background-primary: #d0d1de;
  }
  
  body {
    font-family: "Inter", sans-serif;
    color: var(--c-text-primary);
    /* background-color: var(--c-background-primary); */
    line-height: 2;
  }
  
  input, button, select, textarea {
    font: inherit;
  }
  
  .modal {
    width: 180%;
    max-width: 1000px;
    background-color: #FFF;
    border-radius: 1rem; /* 0.5rem * 1.5 */
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2); /* 5px * 1.5, 15px * 1.5 */
  }
  
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem 3rem 2rem; /* 1.5rem * 1.5 */
  }
  
  .logo-circle {
    width: 7rem; /* 3.5rem * 1.5 */
    height: 7rem; /* 3.5rem * 1.5 */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; /* 50% * 1.5 */
    background-color: var(--c-action-primary-accent);
  }
  .logo-circle svg {
    max-width: 3rem; /* 1.5rem * 1.5 */
  }
  
  .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem; /* 2.25rem * 1.5 */
    height: 4.5rem; /* 2.25rem * 1.5 */
    border-radius: 0.5rem; /* 0.25rem * 1.5 */
    border: none;
    background-color: transparent;
  }

  .btn-close:hover, .btn-close:focus {
    background-color: var(--c-action-primary-accent);
  }
  
  .modal-body {
    padding: 2rem 3rem; /* 1rem * 1.5 */
  }
  
  .modal-title {
    font-weight: 933.3333333333334;
    font-size: 2em; /* Increase font size */
  }
  
  .modal-description {
    color: var(--c-text-secondary);
  }
  
  .upload-area {
    margin-top: 2.5rem; /* 1.25rem * 1.5 */
    border: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: transparent;
    padding: 6rem; /* 3rem * 1.5 */
    width: 133.33333333333334%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload-area:hover, .upload-area:focus {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  
  .upload-area-icon {
    display: block;
    width: 4.5rem; /* 2.25rem * 1.5 */
    height: 4.5rem; /* 2.25rem * 1.5 */
  }

  .upload-area-icon svg {
    max-height: 100%;
    max-width: 100%;
  }
  
  .upload-area-title {
    margin-top: 2rem; /* 1rem * 1.5 */
    display: block;
    font-weight: 933.3333333333334;
    color: var(--c-text-primary);
    font-size: 2em; /* Increase font size */
  }

  .upload-area-description {
    display: block;
    color: var(--c-text-secondary);
    font-size: 2em;
  }
  
  .upload-area-description strong{
    color: var(--c-action-primary);
    font-weight: 933.3333333333334;
    font-size: 2em; /* Increase font size */
  }
  
  .modal-footer {
    padding: 2rem 3rem 3rem; /* 1rem * 1.5 */
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-footer [class*=btn-] {
    margin-left: 1.5rem; /* 0.75rem * 1.5 */
  }
  
  .btn-secondary, .btn-primary {
    padding: 1rem 2rem; /* 0.5rem * 1.5 */
    font-weight: 666.6666666666666;
    border: 4px solid var(--c-action-secondary); /* 2px * 1.5 */
    border-radius: 0.5rem; /* 0.25rem * 1.5 */
    background-color: transparent;
  }
  
  .btn-primary {
    color: #FFF;
    background-color: var(--c-action-primary);
    font-size: 2em; /* Increase font size */
  }