<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>

    <style>
		#btn_reset {
            margin:auto; 
            width:10%; 
            background-color:#FF75FF;
		}

        .centered {
            display : block;
            margin : 0 auto;
            font-size: xx-large;
        }
        
    </style>
</head>
<body>
    <!-- <div style="display: inline-block"> -->
        <div style="width:480px;margin:auto">
            <svg id="svg" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
                <line x1="50" y1="0" x2="50" y2="150" stroke="gray" stroke-width="1"/>
                <line x1="100" y1="0" x2="100" y2="150" stroke="gray" stroke-width="1"/>
                <line x1="0" y1="50" x2="150" y2="50" stroke="gray" stroke-width="1"/>
                <line x1="0" y1="100" x2="150" y2="100" stroke="gray" stroke-width="1"/>
                <g class="x">
                    <line x1="-90" y1="-90" x2="-60" y2="-60" stroke="red" stroke-width="1"/>
                    <line x1="-60" y1="-90" x2="-90" y2="-60" stroke="red" stroke-width="1"/>
                </g>
                <g class="x">
                    <line x1="-90" y1="-90" x2="-60" y2="-60" stroke="red" stroke-width="1"/>
                    <line x1="-60" y1="-90" x2="-90" y2="-60" stroke="red" stroke-width="1"/>
                </g>
                <g class="x">
                    <line x1="-90" y1="-90" x2="-60" y2="-60" stroke="red" stroke-width="1"/>
                    <line x1="-60" y1="-90" x2="-90" y2="-60" stroke="red" stroke-width="1"/>
                </g>
                <g class="x">
                    <line x1="-90" y1="-90" x2="-60" y2="-60" stroke="red" stroke-width="1"/>
                    <line x1="-60" y1="-90" x2="-90" y2="-60" stroke="red" stroke-width="1"/>
                </g>
                <g class="x">
                    <line x1="-90" y1="-90" x2="-60" y2="-60" stroke="red" stroke-width="1"/>
                    <line x1="-60" y1="-90" x2="-90" y2="-60" stroke="red" stroke-width="1"/>
                </g>
                <circle class="o" r="15" cx="-75" cy="-75" stroke="blue" stroke-width="1" fill="none"/>
                <circle class="o" r="15" cx="-75" cy="-75" stroke="blue" stroke-width="1" fill="none"/>
                <circle class="o" r="15" cx="-75" cy="-75" stroke="blue" stroke-width="1" fill="none"/>
                <circle class="o" r="15" cx="-75" cy="-75" stroke="blue" stroke-width="1" fill="none"/>
            </svg>
        </div>
        <!-- <div> -->
            <!-- <fieldset style="text-align: center; width:20%;float:right">
                <legend>Settings:</legend>
                
            </fieldset> -->
        <!-- </div> -->
    <!-- </div> -->

    <!-- <div id="resp_section">
        <ul class="row">
            <li id="btn_start" onclick = "init_game()">START</li>
            <li id="btn_reset">RESET</li>
        </ul>
    </div> -->

    <!-- <div style="margin:auto; width:20%; border:1px solid black">
        <button class="centered" onclick="resetGame">
            Reset Game
        </button>
    </div> -->
    <div><br><br></div>
    <button class="centered" onclick="resetGame">
        Reset Game
    </button>



    <script>
        let xPieces = document.querySelectorAll(".x")
        let oPieces = document.querySelectorAll(".o")
        let svg = document.querySelector("#svg")

        svg.addEventListener('click', gameClick)

        function gameClick(ev) { 
            let row = Math.floor(ev.offsetY / 480 * 100 / 33.3333333)
            let col = Math.floor(ev.offsetX / 480 * 100 / 33.3333333)
            let index = 3 * row + col
            if (gameState.gameStarted === true && gameState.board[index] === ".") {
                if (gameState.numberOfPieces % 2 == 0) {
                    xPieces[gameState.numberOfPieces/2].setAttributeNS(null, 'transform', 'translate(' + (100 + 50*col) + ', ' + (100 + 50*row) + ')')
                    gameState.board = gameState.board.substring(0, index) + "x" + gameState.board.substring(index + 1)
                    let winningCombo = checkWin("x")
                    if (winningCombo) {
                        markTiles(winningCombo)
                    }
                }
                else {
                    oPieces[Math.floor(gameState.numberOfPieces / 2 - 0.5)].setAttributeNS(null, 'cx', 25 + (50*col))
                    oPieces[Math.floor(gameState.numberOfPieces / 2 - 0.5)].setAttributeNS(null, 'cy', 25 + (50*row))
                    gameState.board = gameState.board.substring(0, index) + "o" + gameState.board.substring(index + 1)
                    let winningCombo = checkWin("o")
                    if (winningCombo) {
                        markTiles(winningCombo)
                    }
                }
                gameState.numberOfPieces ++
            }
        }

        let winningCombos = [[0, 1, 2], [3, 4, 5], [6, 7, 8], [0, 3, 6], [1, 4, 7], [2, 5, 8], [0, 4, 8], [2, 4, 6]]
        let gameState = {
            gameStarted : true,
            board : ".........",
            numberOfPieces : 0
        }

        function allEqual(board, arr, item) {
            return arr.every(val => board[val] === item)
        }

        function checkWin(player) {
            for (let i = 0; i < winningCombos.length; i ++) {
                if (allEqual(gameState.board, winningCombos[i], player)) {
                    gameState.gameStarted = false
                    return winningCombos[i]
                }
            }
            return null
        }

        function markTiles(combo) {
            combo.forEach(index => {
                let row = Math.floor(index / 3)
                let col = index % 3
                let rect = document.createElementNS("http://www.w3.org/2000/svg", "rect")
                rect.setAttribute("x", 50*col + 0.5*(col > 0))
                rect.setAttribute("y", 50*row + (row < 2 ? 0.5*row : 0.5))
                rect.setAttribute("width", 49.5 - 0.5*(col === 1))
                rect.setAttribute("height", 49 - (row < 2 ? 0.5*(row - 1) : -0.5))
                rect.setAttribute("stroke", "none")
                rect.setAttribute("fill", "yellow")
                rect.setAttribute("fill-opacity", 0.3)
                svg.appendChild(rect)
            })
        }

        function resetGame(ev) {
            gameState.board = "........."
            xPieces.forEach(piece => {
                console.log(piece)
                // piece.setAttributeNS(null, "transform", "translate(" + ")")
            })
        }
    </script>
</body>
</html>